/* #bob:hover {
transform: translate(10px);
    transform: scale(1.2);
}

#bob {
    margin-left: 30%;
    width: 150px;
    height: 120px;
} */
#llenadoGrande {
    position: absolute;
    top: 50px;
    left: 370px;
}

#llenadoPequeño {
    position: absolute;
    top: 50px;
    left: 700px;
}


#imagenGrande {
    position: absolute;
    top: 245px;
    left: 250px;
    
    margin-top: auto;
}

#imgp3 {
    position: absolute;
    top: -2px;
    left: 34px;

}

#img2 {
    position: absolute;
    top: 1px;
    left: 2px;

}

#imgp2 {
    position: absolute;
    top: 1px;
    left: 1px;

}

#img5 {
    position: absolute;
    top: -2px;
    left: 83px;

}

#img4 {
    position: absolute;
    top: 1px;
    left: 2px;
}

#imagenPequeña {
    margin-top: 15%;
    position: absolute;
    top: 130px;
    left: 600px;
}


#jarraPequeña {
    text-align: center;
    margin-bottom: 10px;
    position: absolute;
    top: 220px;
    margin-left: 800px;
    height: 80px;
    width: 100px;
}
#jarraGrande {
    text-align: center;
    margin-bottom: 10px;
    position: absolute;
    top: 200px;
    left: 90px;
    height: 80px;
    width: 100px;
}


button {
    display: block;
    margin: 0 auto;
}


body {
    background-repeat: no-repeat;
    background-size: cover;
}



#imgbton {
    width: 150px;
    border-radius: 44px;
}

#imgbton:hover {
    transform: scale(1.2);
}