/* #bob:hover {
transform: translate(10px);
    transform: scale(1.2);
}

#bob {
    margin-left: 30%;
    width: 150px;
    height: 120px;
} */

#jarraGrande{
    
    margin-top: 20%;
    margin-left: 30%;
}