.centered-button {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    padding: 20px 40px;
    font-size: 24px;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    background-image: url("cofre.gif");
    background-repeat: no-repeat;
    background-position: center;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
